version: '3'

services:
  web:
    build: .
    container_name: django01
    command: bash -c "python manage.py migrate --run-syncdb && python manage.py runserver 0:8000"
    depends_on:
      - db
    volumes:
      - .:/code
    expose:
      - "8000"

  db:
    image: postgres:latest
    container_name: postgres01