{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
    <br>

    <input type="checkbox" name="pause" id="pause" value="pause"> Pause </input><br>
    <input type="checkbox" name="beep" id="beep" value="beep"> Beep</input><br>
    Frequency: <input type="text" name="frequency" id="frequency"></input><br>
    Duration: <input type="text" name="duration" id="duration"></input><br>
    Add beep at height: <input type="text" name="height" id="height"></input><br>
  </form>
  {% if uploaded_file_url %}
    <p>Output: {{ uploaded_file_url }} </p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}